.container
  %header.splash
    .row-fluid
      .span12
        %h1
          Sigscrape
          %small find the best commute time
        %p.hidden-phone
          It pulls in your Sigalert routes and periodically looks at the commute time for them. Leave it running for a couple of weeks and then come back and look at traffic patterns.
        %p
          Enter your Sigalert username and password below. These will be stored in plaintext, so hopefully you're not using the same credentials for anything else.

  .row-fluid
    .span12
      %form#login-form(action="/login" method="post")
        != Rack::Csrf.tag(env)

        %legend.hidden-phone Log In

        %label.hidden-phone(for="username") Sigalert Username
        %input#username.span6(type="text" name="username" placeholder="Username")

        %label.hidden-phone(for="password") Sigalert Password
        %input#password.span6(type="password" name="password" placeholder="Password")
        .form-actions
          %button.btn.btn-primary(type="submit" data-loading-text="Signing In...") Sign In
